<% provide(:title, 'Поиск лайков и репостов') %>

<h1>Новая ссылка</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@wall, url: new_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.text_field :url, class: 'form-control' %>

      <%= f.submit "Поиск", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>