<% provide(:title, 'Результат') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>
      <strong>Ссылка:</strong>
      <%= @wall.url %>
    </p>

    <p>
      <strong>Количество share:</strong>
      <%= @wall.shares %>
    </p>

    <%= button_to "На главную страницу", root_path, method: :get,  class: "btn btn-primary" %>
  </div>
</div>